name: Playwright Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        browser: [chromium, firefox, webkit]

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v3

      # Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      # Install dependencies
      - name: Install dependencies
        run: npm ci

      # TypeScript type check
      - name: Type check
        run: npm run check:types

      # Install Playwright browsers & dependencies
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      # Run all Playwright tests
      - name: Run Playwright Tests
        run: |
          npx playwright test \
            --project ${{ matrix.browser }} \
            --timeout=30000 \
            --retries=1

      # Upload test report as an artifact
      - name: Upload Playwright Report
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report-${{matrix.browser}}
          path: reports/playwright-report
      - run: ls -la reports/playwright-report || echo "Folder not found"

  deploy:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Download Chromium report
        uses: actions/download-artifact@v4
        with:
          name: playwright-report-chromium
          path: reports/playwright-report

      - name: Download Firefox report
        uses: actions/download-artifact@v4
        with:
          name: playwright-report-firefox
          path: reports/playwright-report

      - name: Download Webkit report
        uses: actions/download-artifact@v4
        with:
          name: playwright-report-webkit
          path: reports/playwright-report

  